{% extends 'base.html' %}

{% block title %}
<title>{{ chr['name'] }} - Anidude</title>
{% endblock title %}

{% block style %}
    <style>
        .main.rel{
            display: block;
        }
        .main.rel h2{
            margin: 0 1.5em 1em;
        }
        .main-1 img{
            height: 400px;
            width: 300px;
        }
        .main ul{
            display: flex;
            margin: 0 2.5em;
            overflow-x: auto;
        }
        .main ul li{
            list-style: none;
            display: flex;
            position: relative;
            align-items: center;
            justify-content: space-around;
        }

        .main ul a:hover img{
            filter: blur(3px);
        }
        .main ul a:hover p{
            color: var(--font);
            font-weight: var(--font-bold);
            z-index: 5;
            display: block;
        }
        .main li img{
            width: 200px;
            height: 300px;
            border-radius: 2em;
            margin-bottom: 0.9em;
            padding: 1em;
        }
        .main li p{
            display: none;
            text-align: center;
            width: 80%;
            position: absolute;
        }
        .overlay{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.3);
            width: 168px;
            height: 268px;
            display: none;
            z-index: 2;
            margin: 1em;
            border-radius: 9px;
        }
        a:hover .overlay{
            display: block;
        }
    </style>
{% endblock style %}

{% block content %}
    <section class="main">
        <div class="main-1">
            <img src="{{ chr['img'] }}" alt="poster" onerror="this.src='../static/images/default.png'">
        </div>
        <div class="main-2">
            <div class="title">
                <h1>{{ chr['name'] }} ({{ chr['gender'] }})</h1>
            </div>
            <div class="desc">
                {{ chr['description'].replace("\n","<br>")|safe }}
            </div>
        </div>
    </section>
    <section class="main rel">
        <h2>Relations:</h2>
        <ul>
            {% for rel in chr['realtions'] %}
            <a href="/{{ rel['type'].lower() }}/{{ rel['id'] }}">
                <li>
                    <div class="img">
                        <img src="{{ rel['img'] }}" alt="poster" onerror="this.src='../static/images/default.png'">
                    </div>
                    <div class="overlay"></div>
                    <p>{{ rel['title'] }}</p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </section>
{% endblock content %}