{% extends 'base.html' %}

{% block title %}
    <title>Search Results - {{ q }} </title>
{% endblock title %}

{% block style %}
    <style>
        .search{
            padding: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .search h2{
            margin-bottom: 1em;
            font-size: 1.7rem;
            align-self: flex-start;
        }
        .search-results{
            display: flex;
            flex-flow: row wrap;
            margin: 1em;
            align-self: flex-start;
        }
        .search-results img{
            width: 200px;
            height: 300px;
            border-radius: 15px;
        }
        .item{
            flex: 0 1 calc(20% - 20px);
            margin: 10px;
            position: relative;
            padding: 1em;
        }
        .item .text-overlay{
            position: absolute;
            top: 45%;
            width: 85%;
            z-index: 5;
            display: none;
        }
        .overlay{
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: #00000085;
            margin: 1em;
            z-index: 2;
        }
        a.item:hover img{
            filter: blur(3px);
        }
        a.item:hover .overlay ,
        a.item:hover .text-overlay{
            display: block;
        }
        .text-overlay p{
            text-align: center;
            font-weight: var(--font-bold);
        }
        .arrows i{
            font-size: 2rem;
            margin: 0.3em;
            border: 2px solid;
            border-radius: 50%;
        }
    </style>
{% endblock style %}

{% block content %}
    <section class="search">
        <h2>Search results for {{ q }}</h2>
        <div class="search-results">
            {% for a in media %}
            <a href="/{{ a['type'].lower() }}/{{ a['id'] }}"  class="item">
                <img src="{{ a['img'] }}" alt="poster" onerror="this.src='../static/images/default.png'">
                <div class="text-overlay">
                    <p>{{ a['title'] }}</p>
                </div>
                <div class="overlay"></div>
            </a>
            {% endfor %}
        </div>
        <div class="arrows">
            <i class="bi bi-arrow-left-short" onclick="navigate('left',{{ pi }})"></i>
            <i class="bi bi-arrow-right-short" onclick="navigate('right',{{ pi }})"></i>
        </div>

    </section>

    <script>
        function navigate(dir,pageInfo) {
            if (dir == 'right' && pageInfo['page'] + 1 <= pageInfo['total']){
                location.href = `../search/${pageInfo['page'] + 1}`;
            }
            else if(dir == 'left' && pageInfo['page'] - 1 > 0){
                location.href = `../search/${pageInfo['page'] - 1}`;
            }
        }
        if ({{ pi['total'] }} == 1) {
            document.querySelector(".arrows").style.display = "none";
        }
    </script>
{% endblock content %}